<!-- <app-totaldefects></app-totaldefects>
<app-opendefects></app-opendefects> -->


<mat-card class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Total Defects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-totaldefects></app-totaldefects>
  
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Open Defects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-opendefects></app-opendefects>
  
    </mat-card-content>
  </mat-card>